In [1]:
import pandas as pd
import os
import shutil
from glob import glob
import numpy as np
import math
import os,sys,inspect
from datetime import datetime
current_dir = os.path.dirname(os.path.abspath(inspect.getfile(inspect.currentframe())))
parent_dir = os.path.dirname(current_dir)
sys.path.insert(0, '/data/MoodGroup/actigraphy/gavi/actigraPy') 

import actigraPy.actigraPy as act
import importlib

/data/MoodGroup/actigraphy/gavi/actigraPy/actigraPy/actigraPy.py:23: MatplotlibDeprecationWarning:
The matplotlib.backends.tkagg module was deprecated in Matplotlib 3.0 and will be removed in 3.2.
  import matplotlib.backends.tkagg as tkagg

In [92]:
main_dir = '/data/MoodGroup/actigraphy/KMOA'

subj = 311

In [93]:
dat = pd.read_csv(os.path.join(main_dir,"KMOA_summary.csv"))

In [94]:
awds = glob(os.path.join(main_dir,'raw','subMOA-'+ str(subj), '*.AWD'))

In [95]:
info = dat.loc[dat['sub_no']==subj,'infusion'].item().split('/')
dt= datetime(year = int(info[2]), month = int(info[0]), day = int(info[1]), hour=9)

In [96]:
dat.loc[dat['sub_no']==subj,'num_awds']= len(awds)
for idx, file in enumerate(awds):
    n = str(idx)
    awd_dat = act.read_AWD(file)
    dat.loc[dat['sub_no']==subj,'awd_date_match_'+n]=dt in awd_dat['dt_list']
    dat.loc[dat['sub_no']==subj,'awd_gender_'+n]=awd_dat['hdr']['gender']
    dat.loc[dat['sub_no']==subj,'awd_age_'+n]=awd_dat['hdr']['age']

In [97]:
dat.to_csv(os.path.join(main_dir,"KMOA_summary.csv"))

In [98]:
info = dat.loc[dat['sub_no']==subj,'infusion'].item().split('/')
dt= datetime(year = int(info[2]), month = int(info[0]), day = int(info[1]), hour=9)

SyntaxError: unexpected EOF while parsing (<ipython-input-99-01d557512a9d>, line 1)

In [38]:
dat.loc[dat['sub_no']==subj,'num_awds']= 1

In [39]:
dat.loc[dat['sub_no']==subj,'num_awds'].item()

1

In [100]:
sys.executable

'/data/MoodGroup/code/miniconda3/envs/actigraphy/bin/python'

01Aug2019 making a section for checking when subj have multiple awds

In [36]:
main_dir = '/data/MoodGroup/actigraphy/KMOA'

subj = 128

In [37]:
awds = glob(os.path.join(main_dir,'raw','subMOA-'+str(subj),'*AWD'))

In [38]:
awd_dat = {}
for idx,awd in enumerate(awds):
    awd_dat[idx]= act.read_AWD(awd)
    start = awd_dat[idx]['dt_list'][0].strftime('%m/%d/%Y, %H:%M')
    end = awd_dat[idx]['dt_list'][-1].strftime('%m/%d/%Y, %H:%M')
                                       
    print('File ' + str(idx) + '\nStart: ' + start + '\nEnd : ' + end+'\n')

File 0
Start: 01/22/2015, 12:35
End : 01/25/2015, 16:48

File 1
Start: 01/22/2015, 12:35
End : 01/22/2015, 15:13

File 2
Start: 02/09/2015, 14:41
End : 03/16/2015, 11:18

KeyError: 0

In [16]:
newdat['dt_list'] = awd_dat[0]['dt_list']
newdat['activity'] = awd_dat[0]['activity']
d

In [17]:
newdat

                  dt_list  activity
0     2013-04-08 12:53:00         0
1     2013-04-08 12:54:00         0
2     2013-04-08 12:55:00         0
3     2013-04-08 12:56:00         0
4     2013-04-08 12:57:00         0
5     2013-04-08 12:58:00         0
6     2013-04-08 12:59:00         0
7     2013-04-08 13:00:00         0
8     2013-04-08 13:01:00         0
9     2013-04-08 13:02:00         0
10    2013-04-08 13:03:00         0
11    2013-04-08 13:04:00         0
12    2013-04-08 13:05:00         0
13    2013-04-08 13:06:00         0
14    2013-04-08 13:07:00         0
15    2013-04-08 13:08:00         0
16    2013-04-08 13:09:00         0
17    2013-04-08 13:10:00         0
18    2013-04-08 13:11:00         0
19    2013-04-08 13:12:00         0
20    2013-04-08 13:13:00         0
21    2013-04-08 13:14:00         0
22    2013-04-08 13:15:00         0
23    2013-04-08 13:16:00         0
24    2013-04-08 13:17:00         0
25    2013-04-08 13:18:00         0
26    2013-04-08 13:19:00         0
27    2013-04-08 13:20:00         0
28    2013-04-08 13:21:00         0
29    2013-04-08 13:22:00         0
...                   ...       ...
25045 2013-04-25 22:18:00         0
25046 2013-04-25 22:19:00         0
25047 2013-04-25 22:20:00         0
25048 2013-04-25 22:21:00         0
25049 2013-04-25 22:22:00         0
25050 2013-04-25 22:23:00         0
25051 2013-04-25 22:24:00         0
25052 2013-04-25 22:25:00         0
25053 2013-04-25 22:26:00         0
25054 2013-04-25 22:27:00         0
25055 2013-04-25 22:28:00         0
25056 2013-04-25 22:29:00         0
25057 2013-04-25 22:30:00         0
25058 2013-04-25 22:31:00         0
25059 2013-04-25 22:32:00         0
25060 2013-04-25 22:33:00         0
25061 2013-04-25 22:34:00         0
25062 2013-04-25 22:35:00         0
25063 2013-04-25 22:36:00         0
25064 2013-04-25 22:37:00         0
25065 2013-04-25 22:38:00         0
25066 2013-04-25 22:39:00         0
25067 2013-04-25 22:40:00         0
25068 2013-04-25 22:41:00         0
25069 2013-04-25 22:42:00         0
25070 2013-04-25 22:43:00         6
25071 2013-04-25 22:44:00         0
25072 2013-04-25 22:45:00         2
25073 2013-04-25 22:46:00         5
25074 2013-04-25 22:47:00       540

[25075 rows x 2 columns]